extends ../layout
block title 
  title 生活脚印
block style  
  link(rel='stylesheet', href='/stylesheets/shareing.css')
block step
  li.menu.active
    a(href="/step/index") 生活脚印   
block content
  div.container
    img.stepsimg(src="/images/step_01.jpg")
    img.stepsimg(src="/images/step_02.jpg")
    img.stepsimg(src="/images/step_07.jpg")
    img.stepsimg(src="/images/step_03.jpg")
    img.stepsimg(src="/images/step_04.jpg")
    img.stepsimg(src="/images/step_05.jpg")
    img.stepsimg(src="/images/step_06.jpg")