extends layout

block content
  header.lotus-header
    div.container
      div.col-xs-12.thumbnail-outer
        a.thumbnail
          img(src="/images/personal_img.jpg")
      div.row
        div.col-xs-12.thumbnail-description
          h4 greenLotus              
  nav.navbar.navbar-default
    div.container
      div.navbar-header
        button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
          span.sr-only
          span.icon-bar
          span.icon-bar
          span.icon-bar
          span.icon-bar
      div.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
        ul.nav.navbar-nav
          li.menu
            a(href="/lotus/shareing") 技能分享
          li.menu
            a(href="/lotus/step") 生活脚步
          li.menu.active
            a(href="/lotus/grass") 春草心声
          li.menu
            a(href="/lotus/tonglin") 桐林之城                                                                      
          li.menu
            a(href="/lotus/photo") 照片瀑布
  div.container