doctype html
html
  head
    meta(charset="uft-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name='Keywords', content='greenlotus,green,lotus,web,web前端,青莲,居士,青莲居士')
    meta(name='Description', content='一个用于分析的WEB前端博客')     
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/common.css')
    block title 
      title 青莲居士
    block style
    script(type='text/javascript', src='/javascripts/jquery.min.js')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
  body
    block content
