extends layout
block title 
  title 生活脚本
block style  
  link(rel='stylesheet', href='/stylesheets/step.css')
block content
  header.lotus-header
    div.container
      div.col-xs-12.thumbnail-outer
        a.thumbnail
          img(src="/images/personal_img.jpg")
      div.row
        div.col-xs-12.thumbnail-description
          h4 greenLotus              
  nav.navbar.navbar-default
    div.container
      div.navbar-header
        button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
          span.sr-only
          span.icon-bar
          span.icon-bar
          span.icon-bar
          span.icon-bar
      div.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
        ul.nav.navbar-nav
          li.menu
            a(href="/skill/search") 技能分享
          li.menu.active
            a(href="/lotus/step") 生活脚步
          li.menu
            a(href="/lotus/grass") 春草心声
          li.menu
            a(href="/lotus/tonglin") 桐林之城                                                                      
          li.menu
            a(href="/lotus/photo") 照片瀑布
  div.container
    img.stepsimg(src="/images/step_01.jpg")
    img.stepsimg(src="/images/step_02.jpg")
    img.stepsimg(src="/images/step_07.jpg")
    img.stepsimg(src="/images/step_03.jpg")
    img.stepsimg(src="/images/step_04.jpg")
    img.stepsimg(src="/images/step_05.jpg")
    img.stepsimg(src="/images/step_06.jpg")