extends ../layout
block title 
  title 技能分享
block style  
  link(rel='stylesheet', href='/stylesheets/create.css')
  link(rel='stylesheet', href="/stylesheets/summernote.css")
block script
  script(type='text/javascript' src="/javascripts/summernote.js")
  script(type='text/javascript' src="/javascripts/lang/summernote-zh-CN.js")
block content
  div.lotus-header
    div.container
      div.col-xs-12.thumbnail-outer
        a.thumbnail
          img(src="/images/personal_img.jpg")
      div.row
        div.col-xs-12.thumbnail-description
          h4 青莲居士      
  div.lotus-nav.navbar.navbar-default
    div.container
      div.navbar-header
        button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
          span.sr-only
          span.icon-bar
          span.icon-bar
          span.icon-bar
          span.icon-bar
      div.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
        ul.nav.navbar-nav
          li.menu.active
            a(href="/skill/search") 技能分享
          li.menu
            a(href="/lotus/step") 生活脚步
          li.menu
            a(href="/lotus/grass") 春草心声
          li.menu
            a(href="/lotus/tonglin") 桐林之城
          li.menu
            a(href="/lotus/photo") 照片瀑布
  div.lotus-container
    div.container
      form.form-horizontal
        .form-group
          label.col-md-2.control-label 新建标题：
          .col-md-4
            input.form-control(type="text")
        .form-group
          label.col-md-2.control-label 新建类型：
          .col-md-4
            select.form-control
              option 分享
              option 公告
        .form-group
          label.col-md-2.control-label LOGO：
          .col-md-4
            .form-control.upload-outer
              span.glyphicon.glyphicon-plus
              input(type='file')
        .form-group
          label.col-md-2.control-label 新建描述：
          .col-md-5
            textarea.form-control(rows="5")
        .form-group
          label.col-md-2.control-label 新建正文：
          .col-md-10.summernote-container
            div(id="summernote" style="border:1px solid #dcdcdc;height:500px")
        .form-group
          .col-md-offset-2.col-md-4
            button.btn.btn-info(type='submit') 上传提交

  script.
    $(document).ready(function() {
        $('#summernote').summernote({
          lang:'zh-CN',
          minHeight: 500,             // set minimum height of editor
          focus: true             
        });
    });
