extends ../layout
block title 
  title 技能分享
block style  
  link(rel='stylesheet', href='/stylesheets/create.css')
  link(rel='stylesheet', href="/stylesheets/summernote.css")
block script
  script(type='text/javascript' src="/javascripts/summernote.js")
  script(type='text/javascript' src="/javascripts/lang/summernote-zh-CN.js")    
block share
  li.menu.active
    a(href="/share/index") 技能分享      
block content
  div.lotus-container
    div.container
      form.form-horizontal
        .form-group
          label.col-md-2.control-label 新建标题：
          .col-md-4
            input.form-control(type="text")
        .form-group
          label.col-md-2.control-label 新建类型：
          .col-md-4
            select.form-control
              option 分享
              option 公告
        .form-group
          label.col-md-2.control-label LOGO：
          .col-md-4
            .form-control.upload-outer
              span.glyphicon.glyphicon-plus
              input(type='file')
        .form-group
          label.col-md-2.control-label 新建描述：
          .col-md-5
            textarea.form-control(rows="5")
        .form-group
          label.col-md-2.control-label 新建正文：
          .col-md-10.summernote-container
            div(id="summernote" style="border:1px solid #dcdcdc;height:500px")
        .form-group
          .col-md-offset-2.col-md-4
            button.btn.btn-info(type='submit') 上传提交
  script.
    $(document).ready(function() {
        $('#summernote').summernote({
          lang:'zh-CN',
          minHeight: 500,
          focus: true             
        });
    });
